html,
body {
    height: 100%;
}

body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #292b2c;
    background-color: #fff;
    padding: 10px;
}

.success {
    background-color: #dff0d8;
    border-color: #d0e9c6;
    color: #3c763d;
}

.info {
    background-color: #d9edf7;
    border-color: #bcdff1;
    color: #31708f;
}

.warning {
    background-color: #fcf8e3;
    border-color: #faf2cc;
    color: #8a6d3b;
}

.danger {
    background-color: #f2dede;
    border-color: #ebcccc;
    color: #a94442;
}